/*  your css code here. If applicable */
table{
	border-bottom: 1px solid black;
  border-right: 1px solid black;
    border-collapse: collapse;
}

table tbody tr td {
	text-align: center;
	padding: 3px 5px;
}
table tr th {
	background-color : #888888;
	color : white;
	text-align: center;
	padding: 3px 5px;
}

.sub-total-text {
	text-align: right;
}